In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../Datasets/car_price.csv')

In [3]:
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [4]:
selling_price=df['Selling_Price']

In [5]:
df['Car_Name'].value_counts()

city                        26
corolla altis               16
verna                       14
fortuner                    11
brio                        10
                            ..
Honda CB Trigger             1
Yamaha FZ S                  1
Bajaj Pulsar 135 LS          1
Activa 4g                    1
Bajaj Avenger Street 220     1
Name: Car_Name, Length: 98, dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [7]:
df

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0
...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,Diesel,Dealer,Manual,0
297,brio,2015,4.00,5.90,60000,Petrol,Dealer,Manual,0
298,city,2009,3.35,11.00,87934,Petrol,Dealer,Manual,0
299,city,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0
300,brio,2016,5.30,5.90,5464,Petrol,Dealer,Manual,0

In [8]:
df.describe()

              Year  Selling_Price  Present_Price     Kms_Driven       Owner
count   301.000000     301.000000     301.000000     301.000000  301.000000
mean   2013.627907       4.661296       7.628472   36947.205980    0.043189
std       2.891554       5.082812       8.644115   38886.883882    0.247915
min    2003.000000       0.100000       0.320000     500.000000    0.000000
25%    2012.000000       0.900000       1.200000   15000.000000    0.000000
50%    2014.000000       3.600000       6.400000   32000.000000    0.000000
75%    2016.000000       6.000000       9.900000   48767.000000    0.000000
max    2018.000000      35.000000      92.600000  500000.000000    3.000000

In [9]:
df.shape

(301, 9)

In [10]:
num_col = list(df.select_dtypes(exclude='object').columns)
cat_col = list(df.select_dtypes(include='object').columns)

In [11]:
num_col.remove('Selling_Price')

In [12]:
num_col

['Year', 'Present_Price', 'Kms_Driven', 'Owner']

In [13]:
num_col.remove("Year")

In [14]:
cat_col.append("Year")

In [15]:
cat_col

['Car_Name', 'Fuel_Type', 'Seller_Type', 'Transmission', 'Year']

In [16]:
df['Car_Name'].value_counts()

city                        26
corolla altis               16
verna                       14
fortuner                    11
brio                        10
                            ..
Honda CB Trigger             1
Yamaha FZ S                  1
Bajaj Pulsar 135 LS          1
Activa 4g                    1
Bajaj Avenger Street 220     1
Name: Car_Name, Length: 98, dtype: int64

# Handling Missing Data

In [17]:
from sklearn.impute import SimpleImputer

In [18]:
num_imputer = SimpleImputer(strategy='median')
cat_imputer = SimpleImputer(strategy='most_frequent')

num_imputer.fit(df[num_col])
cat_imputer.fit(df[cat_col])

SimpleImputer(strategy='most_frequent')

In [19]:
df[num_col] = num_imputer.transform(df[num_col])
df[cat_col] = cat_imputer.transform(df[cat_col])

In [20]:
df.isna().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

# Feature Encoding

In [21]:
from sklearn.preprocessing import OneHotEncoder

In [22]:
ohe = OneHotEncoder(handle_unknown='ignore')
ohe.fit(df[cat_col])

OneHotEncoder(handle_unknown='ignore')

In [23]:
enc_col = ohe.get_feature_names()

C:\Users\komrk\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [24]:
enc_col

array(['x0_800', 'x0_Activa 3g', 'x0_Activa 4g', 'x0_Bajaj  ct 100',
       'x0_Bajaj Avenger 150', 'x0_Bajaj Avenger 150 street',
       'x0_Bajaj Avenger 220', 'x0_Bajaj Avenger 220 dtsi',
       'x0_Bajaj Avenger Street 220', 'x0_Bajaj Discover 100',
       'x0_Bajaj Discover 125', 'x0_Bajaj Dominar 400',
       'x0_Bajaj Pulsar  NS 200', 'x0_Bajaj Pulsar 135 LS',
       'x0_Bajaj Pulsar 150', 'x0_Bajaj Pulsar 220 F',
       'x0_Bajaj Pulsar NS 200', 'x0_Bajaj Pulsar RS200',
       'x0_Hero  CBZ Xtreme', 'x0_Hero  Ignitor Disc', 'x0_Hero Extreme',
       'x0_Hero Glamour', 'x0_Hero Honda CBZ extreme',
       'x0_Hero Honda Passion Pro', 'x0_Hero Hunk', 'x0_Hero Passion Pro',
       'x0_Hero Passion X pro', 'x0_Hero Splender Plus',
       'x0_Hero Splender iSmart', 'x0_Hero Super Splendor',
       'x0_Honda Activa 125', 'x0_Honda Activa 4G',
       'x0_Honda CB Hornet 160R', 'x0_Honda CB Shine',
       'x0_Honda CB Trigger', 'x0_Honda CB Unicorn',
       'x0_Honda CB twister', 'x0_Honda CBR 150', 'x0_Honda Dream Yuga ',
       'x0_Honda Karizma', 'x0_Hyosung GT250R', 'x0_KTM 390 Duke ',
       'x0_KTM RC200', 'x0_KTM RC390', 'x0_Mahindra Mojo XT300',
       'x0_Royal Enfield Bullet 350', 'x0_Royal Enfield Classic 350',
       'x0_Royal Enfield Classic 500', 'x0_Royal Enfield Thunder 350',
       'x0_Royal Enfield Thunder 500', 'x0_Suzuki Access 125',
       'x0_TVS Apache RTR 160', 'x0_TVS Apache RTR 180', 'x0_TVS Jupyter',
       'x0_TVS Sport ', 'x0_TVS Wego', 'x0_UM Renegade Mojave',
       'x0_Yamaha FZ  v 2.0', 'x0_Yamaha FZ 16', 'x0_Yamaha FZ S ',
       'x0_Yamaha FZ S V 2.0', 'x0_Yamaha Fazer ', 'x0_alto 800',
       'x0_alto k10', 'x0_amaze', 'x0_baleno', 'x0_brio', 'x0_camry',
       'x0_ciaz', 'x0_city', 'x0_corolla', 'x0_corolla altis', 'x0_creta',
       'x0_dzire', 'x0_elantra', 'x0_eon', 'x0_ertiga', 'x0_etios cross',
       'x0_etios g', 'x0_etios gd', 'x0_etios liva', 'x0_fortuner',
       'x0_grand i10', 'x0_i10', 'x0_i20', 'x0_ignis', 'x0_innova',
       'x0_jazz', 'x0_land cruiser', 'x0_omni', 'x0_ritz', 'x0_s cross',
       'x0_swift', 'x0_sx4', 'x0_verna', 'x0_vitara brezza', 'x0_wagon r',
       'x0_xcent', 'x1_CNG', 'x1_Diesel', 'x1_Petrol', 'x2_Dealer',
       'x2_Individual', 'x3_Automatic', 'x3_Manual', 'x4_2003', 'x4_2004',
       'x4_2005', 'x4_2006', 'x4_2007', 'x4_2008', 'x4_2009', 'x4_2010',
       'x4_2011', 'x4_2012', 'x4_2013', 'x4_2014', 'x4_2015', 'x4_2016',
       'x4_2017', 'x4_2018'], dtype=object)

In [25]:
temp_train = pd.DataFrame(data = ohe.transform(df[cat_col]).toarray(),columns = enc_col)

In [26]:
temp_train

,x0_800,x0_Activa 3g,x0_Activa 4g,x0_Bajaj ct 100,x0_Bajaj Avenger 150,x0_Bajaj Avenger 150 street,x0_Bajaj Avenger 220,x0_Bajaj Avenger 220 dtsi,x0_Bajaj Avenger Street 220,x0_Bajaj Discover 100,...,x4_2009,x4_2010,x4_2011,x4_2012,x4_2013,x4_2014,x4_2015,x4_2016,x4_2017,x4_2018
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
299,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
300,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [27]:
temp_train.columns

Index(['x0_800', 'x0_Activa 3g', 'x0_Activa 4g', 'x0_Bajaj  ct 100',
       'x0_Bajaj Avenger 150', 'x0_Bajaj Avenger 150 street',
       'x0_Bajaj Avenger 220', 'x0_Bajaj Avenger 220 dtsi',
       'x0_Bajaj Avenger Street 220', 'x0_Bajaj Discover 100',
       ...
       'x4_2009', 'x4_2010', 'x4_2011', 'x4_2012', 'x4_2013', 'x4_2014',
       'x4_2015', 'x4_2016', 'x4_2017', 'x4_2018'],
      dtype='object', length=121)

In [28]:
# final_cols = num_col + list(ohe.get_feature_names())

In [29]:
df_final = pd.concat([df[num_col],temp_train,selling_price], axis=1)

In [30]:
df_final.columns

Index(['Present_Price', 'Kms_Driven', 'Owner', 'x0_800', 'x0_Activa 3g',
       'x0_Activa 4g', 'x0_Bajaj  ct 100', 'x0_Bajaj Avenger 150',
       'x0_Bajaj Avenger 150 street', 'x0_Bajaj Avenger 220',
       ...
       'x4_2010', 'x4_2011', 'x4_2012', 'x4_2013', 'x4_2014', 'x4_2015',
       'x4_2016', 'x4_2017', 'x4_2018', 'Selling_Price'],
      dtype='object', length=125)

In [31]:
X = df_final.drop('Selling_Price',axis = 1)
y = df_final['Selling_Price']

In [32]:
from sklearn.model_selection import train_test_split

In [33]:
X_train, X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state = 32)

In [34]:
X_train

,Present_Price,Kms_Driven,Owner,x0_800,x0_Activa 3g,x0_Activa 4g,x0_Bajaj ct 100,x0_Bajaj Avenger 150,x0_Bajaj Avenger 150 street,x0_Bajaj Avenger 220,...,x4_2009,x4_2010,x4_2011,x4_2012,x4_2013,x4_2014,x4_2015,x4_2016,x4_2017,x4_2018
149,0.94,24000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
232,14.79,12900.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
109,1.47,11000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
191,0.57,25000.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
111,1.50,8700.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,12.48,45000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
252,6.82,31427.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
88,6.05,47000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
43,8.06,45780.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
215,9.40,36100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [35]:
y_train

149     0.51
232    11.45
109     1.20
191     0.20
111     1.15
       ...
71      4.50
252     5.40
88      3.45
43      5.50
215     4.50
Name: Selling_Price, Length: 240, dtype: float64

In [36]:
X_train.shape

(240, 124)

In [37]:
from sklearn.linear_model import LinearRegression

In [38]:
model1 = LinearRegression()

In [39]:
model1.fit(X_train,y_train)

LinearRegression()

In [40]:
model1.score(X_test,y_test)

0.8653663018934422

In [41]:
import pickle

In [42]:
pickle.dump(model1,open("model_LR.pkl","wb"))

In [43]:
modelNew = pickle.load(open("model_LR.pkl","rb"))

In [45]:
df.columns

Index(['Car_Name', 'Year', 'Selling_Price', 'Present_Price', 'Kms_Driven',
       'Fuel_Type', 'Seller_Type', 'Transmission', 'Owner'],
      dtype='object')

In [50]:
modelNew.predict(X)

array([ 3.30002790e+00,  6.21010648e+00,  8.42725513e+00,  2.60161764e+00,
        5.31255170e+00,  9.25000000e+00,  5.67975473e+00,  6.50000000e+00,
        7.62407380e+00,  7.09833482e+00,  2.85000000e+00,  7.93172775e+00,
        6.59828015e+00,  5.26830981e+00,  7.77079561e-01,  8.53150463e+00,
        7.98504679e+00,  8.53150463e+00,  4.67260064e+00,  2.01750889e+00,
        3.92319087e+00,  4.90000000e+00,  3.77682012e+00,  1.44082859e+00,
        3.24308146e+00,  2.61699948e+00,  3.60924443e+00,  5.49584676e+00,
       -8.00684618e-01,  7.93079973e+00,  3.17577334e+00,  2.24365240e+00,
        5.66535763e+00,  5.84684908e+00,  5.14614392e+00,  2.95000000e+00,
        5.35759151e+00,  3.50000000e-01,  3.81260154e+00,  2.25000000e+00,
        5.85000000e+00,  1.73739846e+00,  1.11307340e+00,  5.14626457e+00,
        8.72980676e-01,  6.13508198e+00,  2.73054636e+00,  9.55300898e-01,
        5.26828970e+00,  7.99465533e+00,  1.74269858e+01,  2.03862798e+01,
        1.85742781e+01,  1.65041532e+01, -9.67678097e-01,  3.22562704e+00,
        4.45165411e+00,  5.74530153e+00,  4.45278962e+00,  2.17754194e+01,
        8.12794453e+00,  4.69672054e+00,  2.17811423e+01,  2.34363409e+01,
        2.53472821e+01,  4.71997044e+00,  1.95409176e+01,  1.05364744e+01,
        4.87464751e+00,  1.18169910e+01,  4.61571042e+00,  5.10893180e+00,
        8.13041927e+00,  2.39231885e+00,  4.70327946e+00,  6.07938122e+00,
        5.89317701e+00,  1.50000000e+00,  8.07671342e+00,  1.74245564e+01,
        9.34689167e+00,  4.75000000e+00,  2.17771302e+01,  1.33364517e+01,
        3.92056643e+00,  2.50000000e+00,  3.50000000e+01,  4.22203995e+00,
        3.07200029e+00,  4.39721038e+00,  5.37705162e+00,  1.31784328e+01,
        3.07943357e+00,  2.03862798e+01,  7.61563287e+00,  6.99993989e+00,
        2.05621399e+01,  1.17399576e+01,  8.12871773e+00,  1.05350860e+01,
        2.27559416e+00,  3.04188781e+00,  2.03342316e+00,  2.91647832e+00,
        2.60539407e+00,  1.35000000e+00,  1.35000000e+00,  9.29639357e-02,
        2.47602965e+00,  2.60646130e+00,  8.16576837e-01,  2.47459121e+00,
        1.15000000e+00,  1.59057005e+00,  8.43980295e-01,  8.44057630e-01,
       -9.89893297e-01,  1.73104218e+00,  8.45372338e-01, -1.06636334e-01,
        1.05000000e+00, -3.93584800e-01,  1.05000000e+00, -9.87805232e-01,
        1.73346671e+00,  1.16533288e-01,  1.19564638e+00,  1.24429774e+00,
        1.30764981e+00,  1.77527880e+00,  1.30888718e+00,  7.50000000e-01,
        1.19598665e+00, -2.16330295e-02,  3.27344303e+00,  4.42921753e+00,
        7.12520103e-01,  3.73799758e-01,  9.23501947e-02,  2.61451806e+00,
        5.37479897e-01,  6.00000000e-01,  3.27182658e-01,  8.72817342e-01,
        6.00000000e-01, -1.45815468e+00,  5.50000000e-01,  2.00673515e-02,
       -4.21364998e+00,  5.10000000e-01,  1.42859887e-01,  1.10553423e+00,
        4.74883996e-01,  1.61278745e+00, -9.16202174e-01,  4.50046401e-01,
        4.80000000e-01,  1.46538490e-02,  4.80000000e-01,  4.50000000e-01,
        4.50000000e-01,  8.07140113e-01,  4.75116004e-01, -1.56451806e+00,
        6.98126685e-01,  2.85750759e+00,  4.50000000e-01, -1.45288352e-01,
        4.20000000e-01,  1.51873315e-01, -2.25439286e+00, -9.53717418e-02,
        4.00000000e-01,  4.00000000e-01,  3.80000000e-01,  3.80000000e-01,
        1.24534780e+00,  3.50000000e-01,  3.50000000e-01, -5.85347798e-01,
        3.00000000e-01,  1.06857982e+00, -1.26012507e+00, -1.32420639e+00,
       -1.43594730e-01,  2.50000000e-01,  2.50000000e-01,  1.37707085e+00,
        2.50000000e-01,  2.00000000e-01, -1.71198685e-01, -1.49602392e-01,
        2.00000000e-01,  2.00000000e-01,  2.00000000e-01,  1.80000000e-01,
       -2.23750759e+00, -9.67070853e-01,  4.99602392e-01, -1.09415043e+00,
        4.71198685e-01,  2.54430160e+00,  4.82220881e+00,  3.11396960e+00,
        2.84465980e+00,  5.39750349e+00,  6.68233424e+00,  4.70511917e+00,
        8.23461287e+00,  5.78012683e+00,  2.46357617e+00,  1.21409303e+01,
        1.08302299e+01,  3.40734426e+00,  6.58436717e+00,  4.18674929e+00,
        3.38847214e+00,  3.38885882e+00,  5.49744681e+00,  4.18673382e+00,
        4.60964741e+00,  3.77459140e+00,  5.49674764e+00,  8.11897416e+00,
        5.20160840e+00,  3.10918360e+00,  4.82166405e+00,  3.01763372e+00,
        5.14945826e+00,  3.72187361e+00,  6.28009215e+00,  8.91619721e+00,
        1.10590697e+01,  3.94870865e+00,  4.81854186e+00,  8.91621886e+00,
        3.38837145e+00,  1.12500000e+01,  5.32343718e+00, -1.25349818e-01,
        5.14517726e+00,  4.95540529e+00,  3.26226047e+00,  6.73305735e+00,
        6.28071084e+00,  5.15115965e+00,  2.76021146e+00,  7.15603612e+00,
        3.59563691e+00,  6.73460407e+00,  1.17912937e+01,  5.27610410e+00,
        5.44295310e+00,  6.41012554e+00,  5.27572376e+00,  1.75744526e+00,
        9.76624087e+00,  9.21855865e+00,  9.21618846e+00,  3.59433942e+00,
        9.76309501e+00,  5.61890465e+00,  4.57106373e+00,  5.83294703e+00,
        5.25494720e+00,  7.62080918e+00,  3.59417640e+00,  8.32700273e+00,
        6.74124949e+00,  7.16358481e+00,  4.84975350e+00,  2.58078805e+00,
        7.16494159e+00,  9.99059750e-01,  3.88736286e+00,  9.64522165e+00,
        9.21615753e+00,  9.21569042e+00,  6.23002241e+00,  7.55853460e+00,
        5.03412927e+00,  1.82350042e+00,  8.74904589e+00,  8.73414413e+00,
        3.19705939e+00,  6.17061317e+00,  5.94887128e+00,  5.42240311e+00,
        9.21758051e+00,  9.76027334e+00,  3.24976015e+00,  5.15073331e+00,
        6.23125978e+00,  2.92891521e+00,  3.47988949e+00,  9.88997577e+00,
        9.58303933e+00,  5.04117223e+00,  3.15353218e+00,  1.13092423e+01,
        5.57899044e+00])